@model FileRabbit.ViewModels.WatchPageVM
@{
    ViewData["Title"] = "Watch";
}

<section class="action-bar">
    <div class="path">
        @foreach (var elem in Model.FolderPath)
        {
            ViewBag.Link = @Url.Action("Watch", "Folder") + "?folderId=";
            <a class="text-white path-separator anix" data-fx="move" data-hold="10">
                <i class="material-icons">
                    arrow_forward_ios
                </i>
            </a>
            <a class="text-white anix" data-fx="move" href="@ViewBag.Link@elem.Id">@elem.Name</a>
        }
    </div>
    <div class="actions">
        <button class="upload">
            <i class="material-icons" data-toggle="modal" data-target="#fileUpload">
                cloud_upload
            </i>
        </button>
        <button class="newfolder">
            <i class="material-icons" data-toggle="modal" data-target="#folderCreate">
                create_new_folder
            </i>
        </button>
        <button class="download inactive">
            <i class="material-icons">
                save_alt
            </i>
        </button>
        <button class="rename inactive">
            <i class="material-icons" data-toggle="modal" data-target="#renameWindow">
                create
            </i>
        </button>
        <button class="share inactive">
            <i class="material-icons">
                share
            </i>
        </button>
        <button class="delete inactive">
            <i class="material-icons">
                delete_sweep
            </i>
        </button>
    </div>
</section>

<section class="file-bar">
    <table class="text-white file-table anix" data-fx="move" data-direction="down" data-hold="10">
        @if (Model.Elements.Count != 0)
        {
            <tr class="head-box">
                <th width="28"></th>
                <th>Name</th>
                <th>Last change</th>
                <th>Size</th>
                <th>Shared</th>
            </tr>
            @foreach (var elem in Model.Elements)
            {
                <tr class="drive-row" data-isfolder="@elem.IsFolder" data-id="@elem.Id" data-type="@elem.Type.ToString()">
                    @switch (elem.Type.ToString())
                    {
                        case "Document":
                            <td class="icon"><i class="material-icons">insert_drive_file</i></td>
                            break;
                        case "Image":
                            <td class="icon"><i class="material-icons">image</i></td>
                            break;
                        case "Video":
                            <td class="icon"><i class="material-icons">movie</i></td>
                            break;
                        case "Audio":
                            <td class="icon"><i class="material-icons">music_note</i></td>
                            break;
                        case "Folder":
                            <td class="icon"><i class="material-icons">folder</i></td>
                            break;
                        default:
                            <td class="icon"><i class="material-icons">insert_drive_file</i></td>
                            break;
                    }
                    <td class="filename">@elem.ElemName</td>
                    <td>@elem.LastModified</td>
                    @if (elem.Size == null)
                    {
                        <td>-</td>
                    }
                    else
                    {
                        <td>@elem.Size.Item1 @elem.Size.Item2</td>
                    }
                    @if (elem.IsShared)
                    {
                        <td class="icon">
                            <i class="material-icons">
                                link
                            </i>
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                </tr>
            }
        }
        else
        {
    <tr class="no-data">
        <td>
            <div class="text-center anix">
                <div>
                    <p class="text-white display-4">Your folder is empty...</p>
                    <p class="text-white">Add new files to change it.</p>
                </div>
            </div>
        </td>
        
    </tr>
        }
    </table>
</section>
<!-- Modal -->
<div class="modal fade" id="fileUpload" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">File Upload</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="upload" asp-action="Upload" asp-controller="Folder" method="post" enctype="multipart/form-data">
                    <input type="hidden" value="@Model.CurrFolderId" name="folderId" />
                    <input type="file" name="uploads" multiple="multiple" />
                    <input type="submit" value="Upload" />
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="folderCreate" tabindex="-1" role="dialog" aria-labelledby="cfTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cfTitle">Create new folder</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="addfolder" asp-action="AddFolder" asp-controller="Folder" method="post" enctype="multipart/form-data">
                    <input type="hidden" value="@Model.CurrFolderId" name="folderId" />
                    <input type="text" name="newFolderName" placeholder="Name" />
                    <input type="submit" value="Create folder" />
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="renameWindow" tabindex="-1" role="dialog" aria-labelledby="rnTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rnTitle">Rename</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="renameitem" asp-action="Rename" asp-controller="Folder" method="post" enctype="multipart/form-data">
                    <input type="hidden" class="elementId" value="" name="elementId" />
                    <input type="hidden" class="isFolder" value="" name="isFolder" />
                    <input type="text" name="newName" />
                    <input type="submit" value="Rename" />
                </form>
            </div>
        </div>
    </div>
</div>
